<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>angularjs - $routeParams</title>
  
  
  
  
  
</head>

<body>
  <div ng-app="myApp" ng-controller="MainCtrl">
  <script type="text/ng-template" id="home.html">
    <div ng-if='posts===[]'>Empty</div>
    
    <div ng-repeat='post in posts'>
      <h3>{{post.name}}</h3>
      <p>{{post.content}}</p>
      <p><a href="#/messages/{{post.index}}">{{post.comments.length}} Commentaire(s)</a></p>
      <hr>
    </div>

  </script>

  <script type="text/ng-template" id="messages.html">
    <p>
      <button ng-click="Home()">Home</button>
      &nbsp;
      <button ng-click="Splice()">Vider</button>
    </p>
    <h2><u> {{title}}</u></h2>
    <div ng-repeat="message in messages">
      <h3>{{message.username}} </h3>
      <code>{{message.date}} </code>
      <br>
      <p>{{message.content}} </p>
      <button ng-click="Error()"><b>Répondre</b></button>
      <hr>
    </div>
    
  </script>

  <script type="text/ng-template" id="error.html">
    <p><button ng-click="Return()">Retour</button> </p>
    <h1>Error page !</h1>


  </script>

  <div>
    
    <ng-view></ng-view>
  </div>
</div>
  <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js'></script>
<script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js'></script>

    <script  src="js/index.js"></script>

</body>
</html>
